In [1]:
from pathlib import Path

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

DATA_DIR = Path('../data')
filepath = DATA_DIR / 'train.csv'

target_column = 'SalePrice'

### Read dataset csv file

In [2]:
df_master = pd.read_csv(filepath, index_col='Id')
df_master.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

## Preprocessing

In [3]:
df = df_master.copy()

### Continuous data

In [4]:
df.select_dtypes(include='number')

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,65.0,8450,7,5,2003,2003,196.0,706,0,...,0,61,0,0,0,0,0,2,2008,208500
2,20,80.0,9600,6,8,1976,1976,0.0,978,0,...,298,0,0,0,0,0,0,5,2007,181500
3,60,68.0,11250,7,5,2001,2002,162.0,486,0,...,0,42,0,0,0,0,0,9,2008,223500
4,70,60.0,9550,7,5,1915,1970,0.0,216,0,...,0,35,272,0,0,0,0,2,2006,140000
5,60,84.0,14260,8,5,2000,2000,350.0,655,0,...,192,84,0,0,0,0,0,12,2008,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456,60,62.0,7917,6,5,1999,2000,0.0,0,0,...,0,40,0,0,0,0,0,8,2007,175000
1457,20,85.0,13175,6,6,1978,1988,119.0,790,163,...,349,0,0,0,0,0,0,2,2010,210000
1458,70,66.0,9042,7,9,1941,2006,0.0,275,0,...,0,60,0,0,0,0,2500,5,2010,266500
1459,20,68.0,9717,5,6,1950,1996,0.0,49,1029,...,366,0,112,0,0,0,0,4,2010,142125
1460,20,75.0,9937,5,6,1965,1965,0.0,830,290,...,736,68,0,0,0,0,0,6,2008,147500

In [5]:
for column in df.select_dtypes(include='number'):
    df[column] = df[column].fillna(0)

### Categorical Data

In [6]:
df.select_dtypes(include='object')

,MSZoning,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,...,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,PoolQC,Fence,MiscFeature,SaleType,SaleCondition
Id,,,,,,,,,,,,,,,,,,,,,
1,RL,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,...,Attchd,RFn,TA,TA,Y,NaN,NaN,NaN,WD,Normal
2,RL,Pave,NaN,Reg,Lvl,AllPub,FR2,Gtl,Veenker,Feedr,...,Attchd,RFn,TA,TA,Y,NaN,NaN,NaN,WD,Normal
3,RL,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,...,Attchd,RFn,TA,TA,Y,NaN,NaN,NaN,WD,Normal
4,RL,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,Crawfor,Norm,...,Detchd,Unf,TA,TA,Y,NaN,NaN,NaN,WD,Abnorml
5,RL,Pave,NaN,IR1,Lvl,AllPub,FR2,Gtl,NoRidge,Norm,...,Attchd,RFn,TA,TA,Y,NaN,NaN,NaN,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456,RL,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,Gilbert,Norm,...,Attchd,RFn,TA,TA,Y,NaN,NaN,NaN,WD,Normal
1457,RL,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,NWAmes,Norm,...,Attchd,Unf,TA,TA,Y,NaN,MnPrv,NaN,WD,Normal
1458,RL,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,Crawfor,Norm,...,Attchd,RFn,TA,TA,Y,NaN,GdPrv,Shed,WD,Normal
1459,RL,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Norm,...,Attchd,Unf,TA,TA,Y,NaN,NaN,NaN,WD,Normal
1460,RL,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,Edwards,Norm,...,Attchd,Fin,TA,TA,Y,NaN,NaN,NaN,WD,Normal

In [7]:
column_type_dict = df.columns.to_series().groupby(df.dtypes).groups
print(column_type_dict.keys())
column_type_dict

dict_keys([dtype('int64'), dtype('float64'), dtype('O')])

{int64: ['MSSubClass', 'LotArea', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'BsmtFinSF1', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd', 'Fireplaces', 'GarageCars', 'GarageArea', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'MiscVal', 'MoSold', 'YrSold', 'SalePrice'], float64: ['LotFrontage', 'MasVnrArea', 'GarageYrBlt'], object: ['MSZoning', 'Street', 'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual', 'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual', 'GarageCond', 'PavedDrive', 'PoolQC', 'Fence', 'MiscFeature', 'SaleType', 'SaleCondition']}

In [8]:
categorical_columns = list(df.select_dtypes(include='object').columns)
categorical_columns

['MSZoning',
 'Street',
 'Alley',
 'LotShape',
 'LandContour',
 'Utilities',
 'LotConfig',
 'LandSlope',
 'Neighborhood',
 'Condition1',
 'Condition2',
 'BldgType',
 'HouseStyle',
 'RoofStyle',
 'RoofMatl',
 'Exterior1st',
 'Exterior2nd',
 'MasVnrType',
 'ExterQual',
 'ExterCond',
 'Foundation',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinType2',
 'Heating',
 'HeatingQC',
 'CentralAir',
 'Electrical',
 'KitchenQual',
 'Functional',
 'FireplaceQu',
 'GarageType',
 'GarageFinish',
 'GarageQual',
 'GarageCond',
 'PavedDrive',
 'PoolQC',
 'Fence',
 'MiscFeature',
 'SaleType',
 'SaleCondition']

In [9]:
df_objects = df.select_dtypes(include='object')

for column_name in df_objects:
    print('\n', column_name, '='*10, len(df_objects[column_name].unique()))
    print(df_objects[column_name].unique())
    print(df_objects[column_name].value_counts().to_dict())

 MSZoning ========== 5
['RL' 'RM' 'C (all)' 'FV' 'RH']
{'RL': 1151, 'RM': 218, 'FV': 65, 'RH': 16, 'C (all)': 10}

 Street ========== 2
['Pave' 'Grvl']
{'Pave': 1454, 'Grvl': 6}

 Alley ========== 3
[nan 'Grvl' 'Pave']
{'Grvl': 50, 'Pave': 41}

 LotShape ========== 4
['Reg' 'IR1' 'IR2' 'IR3']
{'Reg': 925, 'IR1': 484, 'IR2': 41, 'IR3': 10}

 LandContour ========== 4
['Lvl' 'Bnk' 'Low' 'HLS']
{'Lvl': 1311, 'Bnk': 63, 'HLS': 50, 'Low': 36}

 Utilities ========== 2
['AllPub' 'NoSeWa']
{'AllPub': 1459, 'NoSeWa': 1}

 LotConfig ========== 5
['Inside' 'FR2' 'Corner' 'CulDSac' 'FR3']
{'Inside': 1052, 'Corner': 263, 'CulDSac': 94, 'FR2': 47, 'FR3': 4}

 LandSlope ========== 3
['Gtl' 'Mod' 'Sev']
{'Gtl': 1382, 'Mod': 65, 'Sev': 13}

 Neighborhood ========== 25
['CollgCr' 'Veenker' 'Crawfor' 'NoRidge' 'Mitchel' 'Somerst' 'NWAmes'
 'OldTown' 'BrkSide' 'Sawyer' 'NridgHt' 'NAmes' 'SawyerW' 'IDOTRR'
 'MeadowV' 'Edwards' 'Timber' 'Gilbert' 'StoneBr' 'ClearCr' 'NPkVill'
 'Blmngtn' 'BrDale' 'SWISU' 'Blueste']
{'NAmes': 225, 'CollgCr': 150, 'OldTown': 113, 'Edwards': 100, 'Somerst': 86, 'Gilbert': 79, 'NridgHt': 77, 'Sawyer': 74, 'NWAmes': 73, 'SawyerW': 59, 'BrkSide': 58, 'Crawfor': 51, 'Mitchel': 49, 'NoRidge': 41, 'Timber': 38, 'IDOTRR': 37, 'ClearCr': 28, 'StoneBr': 25, 'SWISU': 25, 'Blmngtn': 17, 'MeadowV': 17, 'BrDale': 16, 'Veenker': 11, 'NPkVill': 9, 'Blueste': 2}

 Condition1 ========== 9
['Norm' 'Feedr' 'PosN' 'Artery' 'RRAe' 'RRNn' 'RRAn' 'PosA' 'RRNe']
{'Norm': 1260, 'Feedr': 81, 'Artery': 48, 'RRAn': 26, 'PosN': 19, 'RRAe': 11, 'PosA': 8, 'RRNn': 5, 'RRNe': 2}

 Condition2 ========== 8
['Norm' 'Artery' 'RRNn' 'Feedr' 'PosN' 'PosA' 'RRAn' 'RRAe']
{'Norm': 1445, 'Feedr': 6, 'RRNn': 2, 'PosN': 2, 'Artery': 2, 'PosA': 1, 'RRAe': 1, 'RRAn': 1}

 BldgType ========== 5
['1Fam' '2fmCon' 'Duplex' 'TwnhsE' 'Twnhs']
{'1Fam': 1220, 'TwnhsE': 114, 'Duplex': 52, 'Twnhs': 43, '2fmCon': 31}

 HouseStyle ========== 8
['2Story' '1Story' '1.5Fin' '1.5Unf' 'SFoyer' 'SLvl' '2.5Unf' '2.5Fin']
{'1Story': 726, '2Story': 445, '1.5Fin': 154, 'SLvl': 65, 'SFoyer': 37, '1.5Unf': 14, '2.5Unf': 11, '2.5Fin': 8}

 RoofStyle ========== 6
['Gable' 'Hip' 'Gambrel' 'Mansard' 'Flat' 'Shed']
{'Gable': 1141, 'Hip': 286, 'Flat': 13, 'Gambrel': 11, 'Mansard': 7, 'Shed': 2}

 RoofMatl ========== 8
['CompShg' 'WdShngl' 'Metal' 'WdShake' 'Membran' 'Tar&Grv' 'Roll'
 'ClyTile']
{'CompShg': 1434, 'Tar&Grv': 11, 'WdShngl': 6, 'WdShake': 5, 'Roll': 1, 'Membran': 1, 'Metal': 1, 'ClyTile': 1}

 Exterior1st ========== 15
['VinylSd' 'MetalSd' 'Wd Sdng' 'HdBoard' 'BrkFace' 'WdShing' 'CemntBd'
 'Plywood' 'AsbShng' 'Stucco' 'BrkComm' 'AsphShn' 'Stone' 'ImStucc'
 'CBlock']
{'VinylSd': 515, 'HdBoard': 222, 'MetalSd': 220, 'Wd Sdng': 206, 'Plywood': 108, 'CemntBd': 61, 'BrkFace': 50, 'WdShing': 26, 'Stucco': 25, 'AsbShng': 20, 'Stone': 2, 'BrkComm': 2, 'ImStucc': 1, 'AsphShn': 1, 'CBlock': 1}

 Exterior2nd ========== 16
['VinylSd' 'MetalSd' 'Wd Shng' 'HdBoard' 'Plywood' 'Wd Sdng' 'CmentBd'
 'BrkFace' 'Stucco' 'AsbShng' 'Brk Cmn' 'ImStucc' 'AsphShn' 'Stone'
 'Other' 'CBlock']
{'VinylSd': 504, 'MetalSd': 214, 'HdBoard': 207, 'Wd Sdng': 197, 'Plywood': 142, 'CmentBd': 60, 'Wd Shng': 38, 'Stucco': 26, 'BrkFace': 25, 'AsbShng': 20, 'ImStucc': 10, 'Brk Cmn': 7, 'Stone': 5, 'AsphShn': 3, 'Other': 1, 'CBlock': 1}

 MasVnrType ========== 5
['BrkFace' 'None' 'Stone' 'BrkCmn' nan]
{'None': 864, 'BrkFace': 445, 'Stone': 128, 'BrkCmn': 15}

 ExterQual ========== 4
['Gd' 'TA' 'Ex' 'Fa']
{'TA': 906, 'Gd': 488, 'Ex': 52, 'Fa': 14}

 ExterCond ========== 5
['TA' 'Gd' 'Fa' 'Po' 'Ex']
{'TA': 1282, 'Gd': 146, 'Fa': 28, 'Ex': 3, 'Po': 1}

 Foundation ========== 6
['PConc' 'CBlock' 'BrkTil' 'Wood' 'Slab' 'Stone']
{'PConc': 647, 'CBlock': 634, 'BrkTil': 146, 'Slab': 24, 'Stone': 6, 'Wood': 3}

 BsmtQual ========== 5
['Gd' 'TA' 'Ex' nan 'Fa']
{'TA': 649, 'Gd': 618, 'Ex': 121, 'Fa': 35}

 BsmtCond ========== 5
['TA' 'Gd' nan 'Fa' 'Po']
{'TA': 1311, 'Gd': 65, 'Fa': 45, 'Po': 2}

 BsmtExposure ========== 5
['No' 'Gd' 'Mn' 'Av' nan]
{'No': 953, 'Av': 221, 'Gd': 134, 'Mn': 114}

 BsmtFinType1 ========== 7
['GLQ' 'ALQ' 'Unf' 'Rec' 'BLQ' nan 'LwQ']
{'Unf': 430, 'GLQ': 418, 'ALQ': 220, 'BLQ': 148, 'Rec': 133, 'LwQ': 74}

 BsmtFinType2 ========== 7
['Unf' 'BLQ' nan 'ALQ' 'Rec' 'LwQ' 'GLQ']
{'Unf': 1256, 'Rec': 54, 'LwQ': 46, 'BLQ': 33, 'ALQ': 19, 'GLQ': 14}

 Heating ========== 6
['GasA' 'GasW' 'Grav' 'Wall' 'OthW' 'Floor']
{'GasA': 1428, 'GasW': 18, 'Grav': 7, 'Wall': 4, 'OthW': 2, 'Floor': 1}

 HeatingQC ========== 5
['Ex' 'Gd' 'TA' 'Fa' 'Po']
{'Ex': 741, 'TA': 428, 'Gd': 241, 'Fa': 49, 'Po': 1}

 CentralAir ========== 2
['Y' 'N']
{'Y': 1365, 'N': 95}

 Electrical ========== 6
['SBrkr' 'FuseF' 'FuseA' 'FuseP' 'Mix' nan]
{'SBrkr': 1334, 'FuseA': 94, 'FuseF': 27, 'FuseP': 3, 'Mix': 1}

 KitchenQual ========== 4
['Gd' 'TA' 'Ex' 'Fa']
{'TA': 735, 'Gd': 586, 'Ex': 100, 'Fa': 39}

 Functional ========== 7
['Typ' 'Min1' 'Maj1' 'Min2' 'Mod' 'Maj2' 'Sev']
{'Typ': 1360, 'Min2': 34, 'Min1': 31, 'Mod': 15, 'Maj1': 14, 'Maj2': 5, 'Sev': 1}

 FireplaceQu ========== 6
[nan 'TA' 'Gd' 'Fa' 'Ex' 'Po']
{'Gd': 380, 'TA': 313, 'Fa': 33, 'Ex': 24, 'Po': 20}

 GarageType ========== 7
['Attchd' 'Detchd' 'BuiltIn' 'CarPort' nan 'Basment' '2Types']
{'Attchd': 870, 'Detchd': 387, 'BuiltIn': 88, 'Basment': 19, 'CarPort': 9, '2Types': 6}

 GarageFinish ========== 4
['RFn' 'Unf' 'Fin' nan]
{'Unf': 605, 'RFn': 422, 'Fin': 352}

 GarageQual ========== 6
['TA' 'Fa' 'Gd' nan 'Ex' 'Po']
{'TA': 1311, 'Fa': 48, 'Gd': 14, 'Ex': 3, 'Po': 3}

 GarageCond ========== 6
['TA' 'Fa' nan 'Gd' 'Po' 'Ex']
{'TA': 1326, 'Fa': 35, 'Gd': 9, 'Po': 7, 'Ex': 2}

 PavedDrive ========== 3
['Y' 'N' 'P']
{'Y': 1340, 'N': 90, 'P': 30}

 PoolQC ========== 4
[nan 'Ex' 'Fa' 'Gd']
{'Gd': 3, 'Fa': 2, 'Ex': 2}

 Fence ========== 5
[nan 'MnPrv' 'GdWo' 'GdPrv' 'MnWw']
{'MnPrv': 157, 'GdPrv': 59, 'GdWo': 54, 'MnWw': 11}

 MiscFeature ========== 5
[nan 'Shed' 'Gar2' 'Othr' 'TenC']
{'Shed': 49, 'Othr': 2, 'Gar2': 2, 'TenC': 1}

 SaleType ========== 9
['WD' 'New' 'COD' 'ConLD' 'ConLI' 'CWD' 'ConLw' 'Con' 'Oth']
{'WD': 1267, 'New': 122, 'COD': 43, 'ConLD': 9, 'ConLw': 5, 'ConLI': 5, 'CWD': 4, 'Oth': 3, 'Con': 2}

 SaleCondition ========== 6
['Normal' 'Abnorml' 'Partial' 'AdjLand' 'Alloca' 'Family']
{'Normal': 1198, 'Partial': 125, 'Abnorml': 101, 'Family': 20, 'Alloca': 12, 'AdjLand': 4}

## Impute minssing data

In [7]:
from app.script import *

encoded_df = impute_missing_value(df)
encoded_df.sample(3)

ModuleNotFoundError: No module named 'app'

In [11]:
def preprocess(dataframe: pd.DataFrame) -> pd.DataFrame:
    preprocessed_df = dataframe.copy()
    return impute_missing_value(preprocessed_df)

preprocessed_df = preprocess(df_master)
preprocessed_df.sample()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
576,50,RL,80.0,8480,Pave,Missing Value,Reg,Lvl,AllPub,Inside,...,0,Missing Value,Missing Value,Missing Value,0,10,2008,COD,Abnorml,118500

### OneHotEncoder

In [12]:
from sklearn.preprocessing import OneHotEncoder
import sklear

one_hot_encoder = OneHotEncoder()
one_hot_encoder.fit(preprocessed_df[categorical_columns])

OneHotEncoder()

In [13]:
encoded_categorical_df = one_hot_encoder.transform(preprocessed_df[categorical_columns])

In [14]:
def encode_categorical_data(dataframe: pd.DataFrame) -> pd.DataFrame:
    categorical_columns = list(dataframe.select_dtypes(include='object').columns)
    one_hot_encoder = OneHotEncoder()
    encoded_categorical_df = one_hot_encoder.fit(preprocessed_df[categorical_columns])
    return encoded_categorical_df

def get_one_encoder(dataframe: pd.DataFrame) -> sklearn.preprocessing._encoders.OneHotEncoder:
    categorical_columns = list(dataframe.select_dtypes(include='object').columns)
    one_hot_encoder = OneHotEncoder()
    one_hot_encoder.fit(preprocessed_df[categorical_columns])
    return one_hot_encoder

array([1., 1., 1., ..., 1., 1., 1.])

## Feature Engineering