In [1]:
from pathlib import Path

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

DATA_DIR = Path('../data')
filepath = DATA_DIR / 'train.csv'
file_test = DATA_DIR / 'test.csv'

target_column = 'SalePrice'

### Read dataset csv file

In [2]:
df_master = pd.read_csv(filepath, index_col='Id')
df_master.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [3]:
data_test = pd.read_csv(file_test, index_col='Id')
data_test.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
Id,,,,,,,,,,,,,,,,,,,,,
1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,Inside,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,Inside,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

## Preprocessing

### Resambling

In [4]:
df_resamble = df_master.copy()

In [5]:
row_resambles = df_resamble[target_column].value_counts().head(107)
row_values = row_resambles.index
row_resambles

140000    20
135000    17
155000    14
145000    14
190000    13
          ..
167000     4
159000     4
125500     4
117000     4
142000     4
Name: SalePrice, Length: 107, dtype: int64

In [6]:
remain_row_ = 3
i = 0
for row in row_resambles:
    deleted_count = row - remain_row_
    deleted_rows = df_resamble[df_resamble[target_column] == row_values[i]]
    deleted_rows = deleted_rows.index[0:deleted_count]
    df_resamble = df_resamble.drop(deleted_rows)
    i += 1

In [7]:
df_resamble = df_resamble.reset_index(drop=True)
df_resamble.index += 1
df_resamble

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,20,RL,75.0,10084,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,307000
5,60,RL,85.0,11924,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,7,2006,New,Partial,345000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1082,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1083,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1084,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1085,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1086,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [8]:
df = df_resamble.copy().drop(target_column, axis=1)
df.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,2,2008,WD,Normal
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,0,NaN,NaN,NaN,0,5,2007,WD,Normal
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,9,2008,WD,Normal
4,20,RL,75.0,10084,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,8,2007,WD,Normal
5,60,RL,85.0,11924,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,7,2006,New,Partial

In [9]:
y = df_resamble[target_column]
y.head()

1    208500
2    181500
3    223500
4    307000
5    345000
Name: SalePrice, dtype: int64

### Data test

In [10]:
test_df = data_test.copy()
test_df.index -= 1460
test_df.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
Id,,,,,,,,,,,,,,,,,,,,,
1,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,Inside,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
2,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
3,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
4,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
5,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,Inside,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [11]:
data_test_id = data_test.index
data_test_id

Int64Index([1461, 1462, 1463, 1464, 1465, 1466, 1467, 1468, 1469, 1470,
            ...
            2910, 2911, 2912, 2913, 2914, 2915, 2916, 2917, 2918, 2919],
           dtype='int64', name='Id', length=1459)

## Impute missing data

In [12]:
import sys
sys.path.append('..')
from app.preprocessing import *

In [13]:
preprocessed_df = preprocess(df)
preprocessed_df.sample(5)

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
768,60,RL,57.0,8773,Pave,Missing Value,IR1,HLS,AllPub,Inside,...,0,0,Missing Value,Missing Value,Missing Value,0,8,2007,WD,Normal
46,20,RL,80.0,8892,Pave,Missing Value,IR1,Lvl,AllPub,Inside,...,0,0,Missing Value,Missing Value,Missing Value,0,7,2007,COD,Normal
677,20,RL,73.0,9300,Pave,Missing Value,Reg,Lvl,AllPub,Inside,...,143,0,Missing Value,Missing Value,Missing Value,0,4,2010,WD,Normal
80,60,RL,134.0,19378,Pave,Missing Value,IR1,HLS,AllPub,Corner,...,0,0,Missing Value,Missing Value,Missing Value,0,3,2006,New,Partial
470,60,RL,0.0,11616,Pave,Missing Value,IR1,Lvl,AllPub,CulDSac,...,0,0,Missing Value,GdPrv,Missing Value,0,4,2010,WD,Abnorml

## Feature Engineering

### OneHotEncoder

In [14]:
from app.feature_engineering import *

In [15]:
# save OneHotEncoder
save_one_encoder(preprocessed_df)

In [16]:
X = feature_engineer(preprocessed_df)
X.head()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,253,254,255,256,257,258,259,260,261,262
1,60,65.0,8450,7,5,2003,2003,196.0,706,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2,20,80.0,9600,6,8,1976,1976,0.0,978,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,60,68.0,11250,7,5,2001,2002,162.0,486,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,20,75.0,10084,8,5,2004,2005,186.0,1369,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
5,60,85.0,11924,9,5,2005,2006,286.0,998,0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

## Training data

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [19]:
X_train.shape, y_train.shape

((868, 299), (868,))

### RandomForestClassifier

In [20]:
 from sklearn.ensemble import RandomForestRegressor

In [21]:
reg = RandomForestRegressor(max_depth=7, random_state=0)

In [22]:
reg.fit(X_train, y_train)

RandomForestRegressor(max_depth=7, random_state=0)

## Evaluation

In [23]:
from sklearn.metrics import mean_squared_log_error

def compute_rmsle(y_test: np.array, y_pred:np.array, precision: int = 2) -> float:
    rmsle = np.sqrt(mean_squared_log_error(y_test, y_pred))
    return round(rmsle, precision)

In [24]:
reg.score(X_train, y_train)

0.9635105709732099

## Save Model

In [25]:
import pickle

In [26]:
filename = '../data/predcition_house.sav'
pickle.dump(reg, open(filename, 'wb'))

## Prediction

In [27]:
# load model
housing_model = pickle.load(open(filename, 'rb'))

In [28]:
housing_model.score(X_train, y_train)

0.9635105709732099

In [29]:
y_pred = housing_model.predict(X_test)

In [30]:
compute_rmsle(y_test, y_pred)

0.17

In [31]:
test_df.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
Id,,,,,,,,,,,,,,,,,,,,,
1,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,Inside,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
2,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
3,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
4,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
5,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,Inside,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [32]:
preprocessed_test = preprocess(test_df)

In [33]:
encoded_categorical_test_df = encode_categorical_data(preprocessed_test)
encoded_categorical_test_df.head()

,0,1,2,3,4,5,6,7,8,9,...,253,254,255,256,257,258,259,260,261,262
1,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
5,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0

In [34]:
encoded_test = feature_engineer(preprocessed_test)
encoded_test.head()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,253,254,255,256,257,258,259,260,261,262
1,20,80.0,11622,5,6,1961,1961,0.0,468.0,144.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2,20,81.0,14267,6,6,1958,1958,108.0,923.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,60,74.0,13830,5,5,1997,1998,0.0,791.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,60,78.0,9978,6,6,1998,1998,20.0,602.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
5,120,43.0,5005,8,5,1992,1992,0.0,263.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0

In [35]:
preditions = housing_model.predict(encoded_test)
preditions

array([123611.52623997, 155223.69952641, 164519.40840443, ...,
       149257.54670262, 115994.71444045, 229365.40942115])

# Write output

In [36]:
from app.output import *

In [37]:
make_output(data_test_id, preditions)

# Submission

In [38]:
!kaggle competitions submit -c house-prices-advanced-regression-techniques -f ../data/submission.csv -m "Upgrade"

Successfully submitted to House Prices - Advanced Regression Techniques

  0%|          | 0.00/35.1k [00:00<?, ?B/s]
 23%|##2       | 8.00k/35.1k [00:00<00:00, 68.1kB/s]
100%|##########| 35.1k/35.1k [00:03<00:00, 10.5kB/s]

In [39]:
!kaggle competitions submissions -c house-prices-advanced-regression-techniques

fileName               date                 description             status    publicScore  privateScore
---------------------  -------------------  ----------------------  --------  -----------  ------------
submission.csv         2021-05-10 17:33:28  Upgrade                 complete  0.15674      None
submission.csv         2021-05-08 22:03:12  Upgrade                 complete  0.33645      None
submission.csv         2021-05-08 22:02:15  Upgrade                 complete  0.29153      None
submission.csv         2021-05-08 22:00:20  Upgrade                 complete  0.15220      None
submission.csv         2021-05-08 21:59:16  Upgrade                 complete  0.15560      None
submission.csv         2021-05-08 21:58:48  Upgrade                 complete  0.15441      None
submission.csv         2021-05-08 21:55:55  Upgrade                 complete  0.15072      None
submission.csv         2021-05-08 21:53:41  Upgrade                 complete  0.14722      None
submission.csv         2021-05-08 21:53:21  Upgrade                 complete  0.15068      None
submission.csv         2021-05-08 21:51:38  Upgrade                 complete  0.15512      None
submission.csv         2021-05-08 21:47:13  Upgrade                 complete  0.14954      None
submission.csv         2021-05-07 20:33:57  Try with new max depth  complete  0.15365      None
submission.csv         2021-05-07 20:33:23  Try with new max depth  complete  0.15158      None
submission.csv         2021-05-07 20:32:36  Try with new max depth  complete  0.15791      None
submission.csv         2021-05-07 20:30:08  Try with new max depth  complete  0.15046      None
submission.csv         2021-05-07 20:29:46  Try with new max depth  complete  0.15153      None
submission.csv         2021-05-07 20:28:10  Try with new max depth  complete  0.25835      None
submission.csv         2021-05-07 20:26:37  Try with new max depth  complete  0.34104      None
submission.csv         2021-05-07 20:26:06  Try with new max depth  complete  0.40425      None
submission.csv         2021-05-07 20:21:52  Try with new max depth  complete  0.35310      None
submission.csv         2021-05-07 20:15:03  Try with new max depth  complete  0.17170      None
submission.csv         2021-04-16 16:01:41  Final                   complete  0.23308      None
submission.csv         2021-04-14 12:58:10  pipeline
               complete  0.23771      None
submission.csv         2021-04-14 12:56:05  RandomForest            complete  0.42920      None
submission.csv         2021-04-13 22:17:20  ''                      complete  0.33300      None
submission.csv         2021-04-13 21:43:27  Upgrade                 complete  0.33300      None
sample_submission.csv  2021-04-11 15:00:16  sample                  complete  0.40613      None
submission.csv         2021-04-11 14:46:01  My first submission     complete  0.33300      None